.result-container {
    width:100vw;
    height: 100vh;
    background-color: #2F2D4F;
    color:white;
    font-size:40px;
}

li.movie {
    background-color: #4F4D6F;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}