.list-container {
    width:100vw;
    height: 100vh;
    background-color: #2F2D4F;
}

.e-list,
.i-list {
    margin:0 auto;
    display:flex;
    /* background-color: white; */
    width:55vw;
}

li {
    color:black;
    font-size:70px;
    padding:30px;
    margin:50px;
    text-align: center;
    width:2.5em;
    height:2.5em;
    background-color: white;
    border-radius: 10px;
    /* border:#8A2BE2 solid 2px; */
}

ul {
    margin:0 auto;
    width:100vw;
}

.list-div {
    width:100vw;
    margin:0 auto;
}

.list-box {
    /* margin:0 auto; */
    height: 60vh;
    width:100vw;
    background-color: #8A2BE2;
}

li>input:checked+label {
    /* background-color: #8A2BE2; */
    color:#8A2BE2;
    
}

.i-list label {
    padding:30px;
}

.hide {
    display: none;
}

.result {
    width:50vw;
    margin:0 auto;
    display: flex;
}

.result-box {
    display: flex;
}

button {
    margin-top:90px;
    margin-right: 300px;
    width:300px;
    height: 70px;
    border-radius:50px;
    background-color: #8A2BE2;
}

